In [14]:
import pandas as pd

df = pd.read_csv('results.csv', index_col=0)
df.head()

,dataset,prompt,total score,accuracy,completeness,fluency,conciseness,n_few_shot,n_bootstrapped_few_shot
0,housing_1.json,You are helping users understand an ML model's...,15.8,4.0,4.0,3.8,4.0,NaN,NaN
1,housing_1.json,You are helping users who do not have experien...,15.0,4.0,3.6,3.4,4.0,NaN,NaN
2,housing_1.json,You are helping users understand an ML model's...,15.8,4.0,4.0,3.8,4.0,NaN,NaN
3,housing_2.json,You are helping users understand an ML model's...,15.0,4.0,4.0,3.0,4.0,NaN,NaN
4,housing_2.json,You are helping users who do not have experien...,15.0,4.0,4.0,3.0,4.0,NaN,NaN

In [15]:
dataset_names = {"housing_1.json": "Housing 1",
                 "housing_2.json": "Housing 2",
                 "housing_3.json": "Housing 3",
                 "mushroom_1.json": "Mushroom",
                 "student_1.json": "Student Performance",
                 "pdf_1.json": "PDF Malware"}

df['dataset'] = df['dataset'].map(dataset_names)

In [16]:
prompts_to_ids = {df['prompt'].unique()[0]: "Prompt 1", 
                  df['prompt'].unique()[1]: "Prompt 2",
                  df['prompt'].unique()[2]: "Prompt 3"}

df['prompt'] = df['prompt'].map(prompts_to_ids)

,dataset,prompt,total score,accuracy,completeness,fluency,conciseness,n_few_shot,n_bootstrapped_few_shot
0,Housing 1,Prompt 1,15.8,4.0,4.0,3.8,4.0,NaN,NaN
1,Housing 1,Prompt 2,15.0,4.0,3.6,3.4,4.0,NaN,NaN
2,Housing 1,Prompt 3,15.8,4.0,4.0,3.8,4.0,NaN,NaN
3,Housing 2,Prompt 1,15.0,4.0,4.0,3.0,4.0,NaN,NaN
4,Housing 2,Prompt 2,15.0,4.0,4.0,3.0,4.0,NaN,NaN

In [18]:
df["n_few_shot"] = df["n_few_shot"].astype(int)
df["n_bootstrapped_few_shot"] = df["n_bootstrapped_few_shot"].astype(int)

df["n_few_shot"].fillna("0", inplace=True)
df["n_bootstrapped_few_shot"].fillna("0", inplace=True)
df.head()

,dataset,prompt,total score,accuracy,completeness,fluency,conciseness,n_few_shot,n_bootstrapped_few_shot
0,Housing 1,Prompt 1,15.8,4.0,4.0,3.8,4.0,0,0
1,Housing 1,Prompt 2,15.0,4.0,3.6,3.4,4.0,0,0
2,Housing 1,Prompt 3,15.8,4.0,4.0,3.8,4.0,0,0
3,Housing 2,Prompt 1,15.0,4.0,4.0,3.0,4.0,0,0
4,Housing 2,Prompt 2,15.0,4.0,4.0,3.0,4.0,0,0

In [20]:
column_names = {"dataset": "Dataset",
                "prompt": "Prompt",
                "n_few_shot": "Few-shot samples",
                "n_bootstrapped_few_shot": "Bootstrapped few-shot samples",
                "accuracy": "Accuracy",
                "completeness": "Completeness",
                "fluency": "Fluency",
                "conciseness": "Conciseness",
                "total score": "Total score"}

df = df.rename(columns=column_names)
df = df[["Dataset", "Prompt", "Few-shot samples", "Bootstrapped few-shot samples", "Accuracy", "Completeness", "Fluency", "Conciseness", "Total score"]]
df.head()

,Dataset,Prompt,Few-shot samples,Bootstrapped few-shot samples,Accuracy,Completeness,Fluency,Conciseness,Total score
0,Housing 1,Prompt 1,0,0,4.0,4.0,3.8,4.0,15.8
1,Housing 1,Prompt 2,0,0,4.0,3.6,3.4,4.0,15.0
2,Housing 1,Prompt 3,0,0,4.0,4.0,3.8,4.0,15.8
3,Housing 2,Prompt 1,0,0,4.0,4.0,3.0,4.0,15.0
4,Housing 2,Prompt 2,0,0,4.0,4.0,3.0,4.0,15.0

In [21]:
df.to_csv("cleaned_results.csv")